.logo-image {
  height: 50px;
  width: 139px;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0.3em 0.5em;
}

.search-input {
  border: 3px solid #6441a5;
  background: #fff;
  font-size: 1.1em;
  padding: 0.3em 0.5em;
}
